@{
    ViewBag.Title = "Home | About Village";
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}






<div class="home_backg container">
    <div class="row">
        <div class="col-md-1">
        </div>

        <div class="col-md-10">
            <img src="~/Content/images/pixels_villege (1) - Copy.jpg"  data-aos="zoom-in"/>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>


<br />
<br />


<div class="container-fluid about_about" data-aos="fade-up">
    <div class="row text-center">
        <div class="col-md-1">
        </div>
        <div class="col-md-10 p-4">
            <h1>ABOUT VILLAGE</h1>
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <ul>
                <li>Boost Connectivity with Villages and Bridge the Information & Communication Gap between Urban and Rural Areas.Boost Connectivity with Villages and Bridge the Information & Communication Gap between Urban and Rural Areas.</li>
                <li>Understand the Daily Needs and Wants of People in Rural Areas, especially in the Neglected and Remote Villages and Tribal Localities.Understand the Daily Needs and Wants of People in Rural Areas, especially in the Neglected and Remote Villages and Tribal Localities.</li>
                <li>Support and Facilitate Growth and Development of Villages.Support and Facilitate Growth and Development of Villages.</li>
            </ul>
        </div>
        <div class="col-md-5">
            <ul>
                <li>Boost Connectivity with Villages and Bridge the Information & Communication Gap between Urban and Rural Areas.Boost Connectivity with Villages and Bridge the Information & Communication Gap between Urban and Rural Areas.</li>
                <li>Understand the Daily Needs and Wants of People in Rural Areas, especially in the Neglected and Remote Villages and Tribal Localities.Understand the Daily Needs and Wants of People in Rural Areas, especially in the Neglected and Remote Villages and Tribal Localities.</li>
                <li>Support and Facilitate Growth and Development of Villages.Support and Facilitate Growth and Development of Villages.</li>
            </ul>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<br />
<div class="container-fluid home_OUR_VISION text-justify p-5" data-aos="fade-up">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h1 class="text-center">OUR VISION & MISSION</h1>
            <br />
            <p>To create a digital hub for India’s villages that will provide details for all the states, districts, talukas, and villages in the country, and serve as center for information, communication, and many more services – facilitating efforts to modernize neglected villages, improve tourism, and lend support to local businesses. </p>
            <p>
                Creating a One Stop Service Solution for the village area citizens, providing them with qualityservices like telemedicine, Financial Services, Internet Connectivity and other G2C/B2C services which are easily accessibleat an affordable price round the year.The aim of the Project is to support techno economic viability of digital technology, projects for productive applications in village area livelihoods; standardize the technology packages for future applications; create awareness and capacity building activities on Information Technology systems.
bCreation of employment opportunities for the youth, by promoting the IT/ITES Industry.
cPromotion of investment in IT/ITES Sector in order to expand the base of IT Industry and secure balanced regional growth.
            </p>
            <p>With the vision and mission of the Digital India Programme launched by our Honourable Prime Minister Shri Narendra Modi, CSC e-Governance Services India Ltd. has joined the “DigiGaon” Campaign. DigiGaon aims to make the root of Indian Society-The Villages, Digitally Connected and every rural citizen digital literate. To give thrust to digital infrastructure as a utility to every rural citizen; governance and services on demand; and digital empowerment of every citizen of rural India, CSC is going to transform Villages into DigiGaon. It can contribute in a substantial way to the promotion of Digital India program by extending its reach into rural and remote corners of the country and availing its access to every household. The Digital Village setup by CSC will act as a one stop channel to digitally connect the entire population of the Village.</p>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>




<div class="container home_features" data-aos="fade-up">
    <div class="row">
        <div class="col-md-12 text-center p-5">
            <h1>FACILITIES</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="py-3"><i class="fa-solid fa-angles-right"></i>A Vast Library of Information</h3>
            <p>The ASAA E-Village India App will provide a vast amount of information, including comprehensive details on History, Society, Culture, Administration, Businesses, Services, Transport, Tourism, Local Issues, etc. at the State, District, Taluka, and Village Levels.</p>
        </div>
        <div class="col-md-6">
            <h3 class="py-3"><i class="fa-solid fa-angles-right"></i>Smooth Navigation and User Interface</h3>
            <p>The app will provide an easy User Interface and a Smooth Navigation System, accessible through a Navigation Drawer Menu. At the mere touch of a button, users will be able to access a huge range of information and use several other features with ease.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="py-3"><i class="fa-solid fa-angles-right"></i>Multitude of Facilities in One Place</h3>
            <p>Through the ASAA E-Village India App, users will be able to access information, communicate, advertise, conduct purchase and sales, learn about government schemes, developmental projects, and local facilities within the app. The app will also provide live news and real-time updates on current affairs in the country.</p>
        </div>
        <div class="col-md-6">
            <h3 class="py-3"><i class="fa-solid fa-angles-right"></i>An E-Market and Business Hub</h3>
            <p>The app will also serve as a Free E-Market and Business Platform where farmers can directly contact the buyers. Moreover, villagers will also be able to advertise their specialties, products, and services on the app. This will guarantee a more holistic Social Inclusion model that ensures Economic Empowerment, Rise in Life Quality, and Livelihood Enhancement for Villagers.</p>
        </div>
    </div>

</div>

