@{
    ViewBag.Title = "E-Village | Index";
    Layout = "~/Views/Shared/HomeMasterPage.cshtml";
}



<div class="home_backg" data-aos="zoom-in">


    <img src="~/Content/images/E-Village1.jpg" />

</div>

<br>
<br />
<div class="container home_Our_Services" data-aos="fade-up">
    <div class="row">

        <div class="col-md-6 center">
            <p>ASAA E-Village India Mobile Application is a technological initiative by the A S AGRI AND AQUA LLP (ASAA Group of Companies) that bridges the digital gap between the Urban and Rural India, created with vision as directed under the Government of India’s flagship National e-Governance Plan, to boost digital connectivity throughout the length and breadth of the country. India is a vastly diverse country, encompassing a multitude of cultures, languages, and peoples spread across multiple states, districts, talukas, and villages. However, most of us are completely unaware about much of the information of our country, especially the villages.</p>
            <p>Through our flagship ASAA E-Village App, we aim to enhance Human, Digital, and Physical networks throughout the country’s various villages with each other and with Urban areas, providing efficient access to information, communication, products, services, and many other facilities. The app will be run by A S Agri And Aqua LLP’s Entrepreneurs and IT professionals and will be operational in all states, districts, talukas, and villages of India, providing a comprehensive connectivity and information network across the country.</p>
            <p>The company will also provide job opportunities and employment to locals by appointing & training one representative in every 10 villages and special co-operative officers in each taluka and district, who will be responsible for information updates, guidance, marketing, research, and grievance resolution in their designated areas.</p>
            <p>Through our flagship ASAA E-Village App, we aim to enhance Human, Digital, and Physical networks throughout the country’s various villages with each other and with Urban areas, providing efficient access to information, communication, products, services, and many other facilities. The app will be run by A S Agri And Aqua LLP’s Entrepreneurs and IT professionals and will be operational in all states, districts, talukas, and villages of India, providing a comprehensive connectivity and information network across the country.</p>
              </div>
        <div class="col-md-6" data-aos="zoom-in">
            <img src="~/Content/images/e-village.jpg" class="w-100" />
        </div>
    </div>
</div>

<br />
<div class="container-fluid home_OUR_VISION p-5" data-aos="fade-up">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-10">
            <h1>OUR VISION & MISSION</h1>
            <br />
            <p>To create a digital hub for India’s villages that will provide details for all the states, districts, talukas, and villages in the country, and serve as center for information, communication, and many more services – facilitating efforts to modernize neglected villages, improve tourism, and lend support to local businesses. </p>
       <p>Creating a One Stop Service Solution for the village area citizens, providing them with qualityservices like telemedicine, Financial Services, Internet Connectivity and other G2C/B2C services which are easily accessibleat an affordable price round the year.The aim of the Project is to support techno economic viability of digital technology, projects for productive applications in village area livelihoods; standardize the technology packages for future applications; create awareness and capacity building activities on Information Technology systems. bCreation of employment opportunities for the youth, by promoting the IT/ITES Industry. cPromotion of investment in IT/ITES Sector in order to expand the base of IT Industry and secure balanced regional growth.</p>
             </div>
        <div class="col-md-1">
        </div>
    </div>
</div>




<div class="container home_features" data-aos="fade-up">
    <div class="row">
        <div class="col-md-12 text-center p-5">
            <h1>FACILITIES</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="py-3"><i class="fa-solid fa-angles-right"></i> A Vast Library of Information</h3>
            <p>The ASAA E-Village India App will provide a vast amount of information, including comprehensive details on History, Society, Culture, Administration, Businesses, Services, Transport, Tourism, Local Issues, etc. at the State, District, Taluka, and Village Levels.</p>
        </div>
        <div class="col-md-6">
            <h3 class="py-3"><i class="fa-solid fa-angles-right"></i> Smooth Navigation and User Interface</h3>
            <p>The app will provide an easy User Interface and a Smooth Navigation System, accessible through a Navigation Drawer Menu. At the mere touch of a button, users will be able to access a huge range of information and use several other features with ease.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="py-3"><i class="fa-solid fa-angles-right"></i> Multitude of Facilities in One Place</h3>
            <p>Through the ASAA E-Village India App, users will be able to access information, communicate, advertise, conduct purchase and sales, learn about government schemes, developmental projects, and local facilities within the app. The app will also provide live news and real-time updates on current affairs in the country.</p>
        </div>
        <div class="col-md-6">
            <h3 class="py-3"><i class="fa-solid fa-angles-right"></i> An E-Market and Business Hub</h3>
            <p>The app will also serve as a Free E-Market and Business Platform where farmers can directly contact the buyers. Moreover, villagers will also be able to advertise their specialties, products, and services on the app. This will guarantee a more holistic Social Inclusion model that ensures Economic Empowerment, Rise in Life Quality, and Livelihood Enhancement for Villagers.</p>
        </div>
    </div>

</div>







<div class="container" data-aos="zoom-in">
    <div class="row">
        <div class="col-sm-12 text-center P-5">
            <h1>PHOTO GALLERY</h1>
        </div>
    </div>

    <div class="row gallery">
        <div class="col-sm-4 hvr-pop">
            <img src="~/Content/images/GALLERY%20(1).jpg" width="100%"/>
            <h3 class="text-center">Vaccination</h3>
        </div>
        <div class="col-sm-4 hvr-pop">
            <img src="~/Content/images/GALLERY%20(2).jpg"  width="100%"/>
            <h3 class="text-center">School</h3>
        </div>
        <div class="col-sm-4 hvr-pop">
            <img src="~/Content/images/GALLERY%20(3).jpg"  width="100%"/>
            <h3 class="text-center">Voting</h3>
        </div>
    </div>

    <br />

     <div class="row gallery">
        <div class="col-sm-4 hvr-pop">
            <img src="~/Content/images/GALLERY%20(4).jpg"  width="100%"/>
            <h3 class="text-center">Hospital</h3>
        </div>
        <div class="col-sm-4 hvr-pop">
            <img src="~/Content/images/GALLERY%20(5).jpg"  width="100%"/>
            <h3 class="text-center">School</h3>
        </div>
        <div class="col-sm-4 hvr-pop">
            <img src="~/Content/images/GALLERY%20(4).jpg"  width="100%"/>
            <h3 class="text-center">Hospital</h3>
        </div>
    </div>

</div>







<br />
<div class="container-fluid home_objective p-5" data-aos="fade-up">
      <div class="row text-center p-3">
           <h1>OBJECTIVES</h1>
           </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <ul>
                <li>Boost Connectivity with Villages and Bridge the Information & Communication Gap between Urban and Rural Areas.</li>
                <li>Understand the Daily Needs and Wants of People in Rural Areas, especially in the Neglected and Remote Villages and Tribal Localities.</li>
                <li>Support and Facilitate Growth and Development of Villages.</li>
            </ul>
        </div>
         <div class="col-md-5">
 <ul>
                <li>Boost Connectivity with Villages and Bridge the Information & Communication Gap between Urban and Rural Areas.</li>
                <li>Understand the Daily Needs and Wants of People in Rural Areas, especially in the Neglected and Remote Villages and Tribal Localities.</li>
                <li>Support and Facilitate Growth and Development of Villages.</li>
            </ul>        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>






<div class="container home_contact p-5">
    <div class="row text-center">
        <div class="col-md-6" data-aos="zoom-in">
            <h2>Contact Form</h2>
            <br />
            <form action="/home/index" method="post">
                <input name="Name" id="name" type="text" class="form form-control" placeholder="Name" required maxlength="50"/><br />
                <input name="Mobile" id="mobile" type="number" class="form form-control" placeholder="Mobile" required maxlength="10" minlength="10"/><br />
                <input name="Email" id="email" type="email" class="form form-control" placeholder="E-mail " required maxlength="100"/><br />
                <textarea name="Message" id="message" class="form form-control" placeholder="Message" rows="3" required maxlength="500"></textarea><br />
                <input type="submit" class="form form-control bg-success w-25" onclick="SendEmail()"/>
            </form>
        </div>
       
        <div class="col-md-6" data-aos="zoom-in">
            <h2>Google Map Location</h2>
            <br />
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d894.7402085279577!2d84.16634148875744!3d26.23046211255748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399253ee64584971%3A0x8badc4a800fab2d9!2sDhananjay%20house!5e0!3m2!1sen!2sin!4v1693758737321!5m2!1sen!2sin" width="100%" height="350" style="border:2px;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>



<script src="https://smtpjs.com/v3/smtp.js"> </script>

<script>
    function SendEmail() {

        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var mobile = document.getElementById('mobile').value;
        var message = document.getElementById('message').value;

        var body = "Dear " + name + "<br/><br/>Thank you for getting in touch with us through our contact form. We appreciate your inquiry, and we're here to assist you.<br/><br/>Here are the details you provided:<br/><br/>Name: " + name + "<br/>Email: " + email + "<br/>Mobile: " + mobile + "<br/>Message: " + message + "<br/><br/>We have received your message and will review it shortly. Our team will respond to you as soon as possible to address your inquiry.<br/><br/>Once again, thank you for choosing E-village Portal. We look forward to helping you.<br/><br/>Best regards,<br/>Vikash Kumar Gupta<br/>Web Developer<br/>E-village<br/>";


        Email.send({
            SecureToken : "1c6ea53e-d230-433e-99fb-b7c095db4ae8",
            To: email,
            From: "madhumairwa.9876@gmail.com",
            Subject: "Thank You for Contacting E-village Portal",
            Body: body
        }).then(
            message => alert(message)
        );


    }
</script>



<!-- 
 <div class="home_learn"><a href="#">Learn More</a></div>
-->


